.blog-content {
  @apply leading-8 md:text-lg;

  p {
    @apply mb-4 mt-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8;
    line-height: 1.2;
  }

  h1 {
    @apply text-3xl md:text-5xl uppercase;
  }

  h2 {
    @apply text-lg md:text-2xl;
  }

  ul,
  ol {
    @apply list-outside ps-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  a {
    @apply text-primary underline;
  }

  pre {
    @apply bg-secondary-content rounded-xl;
    tab-size: 2;
  }

  code {
    font-family: monospace;
    font-size: inherit;
  }

  pre code {
    @apply p-6 block bg-none max-w-full min-w-[100px];
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
}
