@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  scroll-behavior: smooth;
}

body {
  padding: 0;
  line-height: inherit;
}

main {
  @apply flex flex-col items-center;
}

section {
  @apply pb-24 w-full;

  &.title-section {
    @apply w-10/12 md:w-11/12 lg:w-2/3 pb-12 mx-auto;
  }

  &.inner-section {
    @apply w-10/12 md:w-11/12 lg:w-2/3 mx-auto;
  }

  &.title-section.small {
    @apply w-10/12 md:w-7/12 pb-12;
  }

  &.inner-section.small {
    @apply w-10/12 md:w-7/12 pb-12;
  }
}

h1 {
  @apply text-5xl font-bold mb-2;
}

.homepage {
  h2 {
    @apply text-3xl font-bold uppercase;
  }
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-2xl;
}

.link-section {
  @apply w-5/6 md:w-2/3 lg:w-1/3 mx-auto;
}

.link-container {
  &:hover {
    svg {
      @apply fill-primary;
    }
  }
}

.animation {
  @apply opacity-0 transition-all ease-in duration-300;

  &.isVisible {
    @apply opacity-100;
  }

  &.pop {
    @apply scale-75;
  }

  &.pop {
    &.isVisible {
      @apply scale-100;
    }
  }
}

/* HTML BLOG */

.article {
  @apply text-lg;

  h2 {
    @apply mt-8 mb-6;
  }
}

pre {
  @apply overflow-auto text-base;

  > code {
    @apply px-0;
  }
}

code {
  @apply bg-black/50 rounded-lg px-1;
}

div {
  &.highlight {
    @apply my-6 bg-black p-2 rounded-lg;
  }
}

.highlight__panel {
  @apply hidden;
}

.tags {
  @apply flex gap-2;
}

.article {
  a {
    @apply underline text-secondary;
  }
}

/* SNOW */

.snow-container {
  @apply fixed z-50;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: calc($random-x + ($random-offset / 2));
    $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
